<article class="tile" itemscope itemtype="http://schema.org/Article">

<!-- fallback background image -->

    {% if member.image_teaser %}
        {% assign background = member.image_teaser %}
    {% else %}
        {% assign background = site.teaser %}
    {% endif %}

    <a href="http://scalar.usc.edu/works/{{ member.scalar }}" title="{{ member.title }}" class="post-teaser" style="background-image: url({{ site.url }}/images/{{ background }});">

    {% if member.title %}
    <h2 class="post-title" itemprop="name">{{ member.title }}</h2>
    {% endif %}
    </a>

<!-- hide unneeded metadata -->

    <!-- {% if post.date %}<p class="entry-date date published"><time datetime="{{ post.date | date: "%Y-%m-%d" }}" itemprop="datePublished">{{ post.date | date: "%B %d, %Y" }}</time></p>{% endif %} -->
    <!-- <p class="post-excerpt" itemprop="description">{{ post.excerpt | strip_html | truncate: 160 }}</p> -->

</article><!-- /.tile -->
