/* ==========================================================================
   Custom CSS for Intro to Latinx and Culture
   Roberto Vargas
   ========================================================================== */


span.rtl {
    direction: rtl;
    unicode-bidi: bidi-override;
}

#site-footer {
  margin-top: 1em;
}

#site-footer p.copyright{
    font-size: 1.1em;
}

.bios {
  margin: 0 auto;
}

.col-narrow {
  padding-top: 40px;
  width: 20%;
  float: left;
  padding-right: 3%;
}
.col-wide {
  width: 80%;
  float: left;
  padding: 5%;
}

#title {
  font-weight: bold;
  display: inline-block;
}

p, strong {
  padding-top:30px;
  clear: both;
}

.bio-image {
  border-radius: 50%;
  box-sizing: border-box;
}

@media (max-width:450px){
  .bio-image {
    display: none;
    width: 30%;
    height: auto;
  }
}

.page-title {
    color: $red;
}


.top-menu {
  display: block;
  position: relative;
  float: right;
}

a.site-title {
  color: #fdd561;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  height: 240px;
  font-size: 59px;
  line-height:47px;
}

@media (max-width:450px){
  a.site-title {
    font-size: 30px;
  }
}

img.logo {
  display: block;
  margin: 0 auto;
}
.footnotes ol {
    list-style: $red;
}

a.footnote {
    color: $red;
    font-size: 1.3em;
}

nav.menu.top-menu {
  float: right;
}
  
.top-menu .menu-item {
  li {
    a {
      @include font-size(23,no,1);
      color: $red;
      padding-right:10px;
      padding-left:10px;
      }
    }
  }

@media (max-width:450px){
  .top-menu .menu-item {
    li {
      a {
        background-color: transparent;
        font-size: 95%;
        font-weight: 600;
        margin-right: 10em;
        }
       }
    }
}
.sliding-menu-content {
  width: 40em;
}

.sliding-menu-content li{
  height: 15px;
}

.sliding-menu-content li img.teaser{
  height: 100%;
}
.sliding-menu-content {
  width: 30em;
  height: 40%;
}

.sliding-menu-content .menu-item li a .excerpt-authors{
  margin-top: 0;
      margin-left: 60px;
      @include font-size(14,no);
      @include media($small) {
        margin-left: 170px;
        font-size: 0.8em;
      }
}

.title .post-teaser a:link {
  text-decoration: none;
}

.inner-wrap {  
  @include media($medium){
    margin-left: 8.5%;
    margin-right: 8.5%
  }
}

iframe {

  @include media($medium){
    width: $max-width;
    margin-left: -11%;
  }

}

.home p, 
.home hr, 
.about p, 
.about hr,
.about h4,
.about ul {
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
}

.home p, 
.home hr{
  font-size: 24px;
  line-height: 32px;
}

.about p, 
.about hr {
  font-size: $doc-font-size;
}

/*
modified css for post-grid images and text
*/

div.tiles {

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  
  @include media($large) {
    width: 125%;
    margin-left: -12.5%;
  }

  // @include media($medium){
  //   margin-left: 0;
  // }
  // border-top: 4px solid red;
}

article.tile {
  margin: 0;
  margin-top: 1em;
  height: 250px;
  width: 250px;
  display: flex-item;
  flex-basis: auto;
  background: rgba(0,0,0,.3);
}

.tile a.post-teaser {

  width: 100%;
  height: 100%;
  background-size: cover;
  text-align: center;
  text-decoration: none;
  color: rgba($white,.75);
  z-index: 1;

  h2 {
    margin: 0;
    padding: 1em .5em;
    line-height: 5;
    font-size: 40px;
    //background-color: rgba(0,0,0,.6);
  }

  &:hover h2.post-title{

    color: lighten($red,10);
    position: relative !important;
    z-index: 99 !important;

  }

  &:hover {
    &:after{
      background: linear-gradient(to bottom, rgba($black,.75), rgba($white,0));
    }
  }
}

